@charset "utf-8";
.simpleCalendarHeader {
    background-color: #17b4ad;
    padding: .5rem;
    color: #fff;
}
.simpleCalendarTable {
    margin: 0 -5px;
}
.simpleCalendarTable tbody td {
    border: 1px solid #dee2e6;
    position: relative;
    text-align: center;
    width: 14%;
    max-width: 14%;
}
.simpleCalendarTable tbody td.today {
    background-color: #bbe9e7;
}
.simpleCalendarTable tbody td.selected {
    /*background-color: rgba(249, 186, 186, 0.61);*/
}
.simpleCalendarTable tbody td span {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: .5rem;
}
.notCurrMonth span {
    color: #ccc;
}
.simpleCalendarTable .hasEvent-box {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: auto;
}
.simpleCalendarTable .hasEvent {
    cursor: pointer;
    background-color: #009ab4;
    color: #fff;
}
.simpleCalendarHeader .fas {
    cursor: pointer;
}
.simpleCalendarHeader .fa-chevron-right {
    float: right;
    font-size: 25px;
}

.simpleCalendarHeader .fa-chevron-left {
    float: left;
    font-size: 25px;
}
